@import '~Styles/colors';

.ground-container {
  width: 100%;
  height: calc(100% - 62px);
  background-color: $oc-black;

  .ground-wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    .video-area {
      display: flex;
      flex-direction: column;
      width: 70%;

      .local-video-wrapper {
        width: 100%;
        height: 80%;
  
        .local-video {
          width: 100%;
          height: 85%;
          background-color: $oc-black;
        }

        .option-menu {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 15%;
    
          .item-wrapper {
            width: 30px;
            height: 30px;
    
            .option-item {
              width: 100%;
              height: 100%;
              background-color: $oc-gray-3;
    
              &:hover {
                background-color: $oc-gray-4;
              }
    
              &.disabled, &.isSharing {
                background-color: $oc-orange-9;
              }
    
              &.hang-up {
                background-color: red;
              }
            }
          }
    
          .item-wrapper + .item-wrapper {
            margin-left: 10px;
          }
        }
      }
  
      .remote-video-wrapper {
        display: flex;
        width: 100%;
        height: 20%;
        padding: 10px;
        box-sizing: border-box;
        overflow-x: scroll;

        .remote-video {
          height: 100%;
          background-color: $oc-black;
        }

        .remote-video + .remote-video {
          padding-left: 10px;
        }
      }
    }

    .option-area {
      width: 30%;
      
      .chat-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        background-color: $oc-white;
        
        .messenger-stream {
          flex: 1;
          overflow-y: scroll;
        }
  
        .message-input-wrapper {
          width: 100%;
          height: 5%;
          box-sizing: border-box;
          border: 1px solid $oc-gray-3;
  
          .message-form {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
  
            .message-input {
              width: 80%;
              height: 100%;
              font-size: 16px;
              box-sizing: border-box;
              border: 0;
              outline: none;
            }
  
            .submit-button {
              width: 20%;
              height: 100%;
              font-size: 6px;
              color: $oc-white;
              background-color: $oc-blue-5;
            }
          }
        }
      }

      .devices-area {
        width: 100%;
        height: 20%;
        overflow-y: auto;
        background-color: white;

        .device-list-title {
          font-weight: bolder;
          font-size: 18px;
        }

        .device-item {
          padding: 5px 8px;
          font-size: 14px;

          &.selected {
            background-color: rgb(200, 200, 200);
          }
        }

        .device-list + .device-list {
          margin-top: 20px;
        }
      }
    }
  }
}